@mixin for-size($size) {
  @if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) and (max-width: 1800px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) and (max-width: 1200px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) and (max-width: 900px) { @content; }
  } @else if $size == phone-only {
    @media (max-width: 599px) { @content; }
  }   
}

body {
	background-color: #DCD6F7;
	color: #424874;
	font-family: 'Ranga', serif;
}

a {
	color: #424874;
}

nav {
	margin: 15px;
	width: 220px;
	position: fixed;
    z-index: 5;
	top: 0;
	overflow-x: hidden;
}

#nav-inner {
    width: min-content;
}


nav a {
	text-decoration: none;
}

nav h1 {
	font-weight: bold;
	font-size: 96px;
	margin: 0px;
}

nav ul {
	list-style-type: none;
}

nav li {
	font-size: 36px;
}

#footer li {
    font-size: 20px;
}

#footer img {
    width: 30px;
}

#wrapper {
    /*
	padding-left: 0px;
    */
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: flex-start;
	list-style: none;
    width: 100%;

    @include for-size(big-desktop-up) {
        height: 2100px;
    }

    @include for-size(desktop-up) {
        height: 2700px;
    }

    @include for-size(tablet-landscape-up) {
        height: 2800px;
    }

    @include for-size(tablet-portrait-up) {
        height: 3800px;
    }
}

#wrapper li.landscape {
}

#wrapper div img, video {
	display: block;
	object-fit: cover;
    width: 100%;
}

.posts-col {
    float: left;

    @include for-size(big-desktop-up) {
        margin-left: 15px;
        width: 19%;
    }

    @include for-size(desktop-up) {
        margin-left: 15px;
        width: 23%;
    }

    @include for-size(tablet-landscape-up) {
        margin-left: 10px;
        width: 31%;
    }

    @include for-size(tablet-portrait-up) {
        margin-left: 10px;
        width: 48%;
    }

    @include for-size(phone-only) {
        width: 98%;
    }
}

.item-no-js {
    @include for-size(big-desktop-up) {
        width: 18%;
    }

    @include for-size(desktop-up) {
        width: 23%;
    }

    @include for-size(tablet-landscape-up) {
        width: 30%;
    }

    @include for-size(tablet-portrait-up) {
        width: 48%;
    }

    @include for-size(phone-only) {
        width: 98%;
    }
}

.item {
    text-align: center;
    position: relative;

    @include for-size(big-desktop-up) {
        margin-bottom: 15px;
    }

    @include for-size(desktop-up) {
        margin-bottom: 15px;
    }

    @include for-size(tablet-landscape-up) {
        margin-bottom: 13px;
    }

    @include for-size(tablet-portrait-up) {
        margin-bottom: 13px;
    }

    @include for-size(phone-only) {
        margin-bottom: 13px;
    }
}

#content {
    font-size: 30px;
    max-width: 100vw;

    @include for-size(big-desktop-up) {
        margin-left: 230px;
    }

    @include for-size(desktop-up) {
        margin-left: 230px;
    }

    @include for-size(tablet-landscape-up) {
        margin-left: 230px;
    }

    @include for-size(tablet-portrait-up) {
        margin-left: 230px;
    }
}

.linkouter:hover .hero {
	opacity: 0.5;
}

#tags ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
	grid-auto-rows: auto;
	grid-auto-flow: dense;
	grid-gap: 20px;
	list-style: none;
}

#tags li {
	font-size: xx-large;
	list-style: none;
}

table, th, td {
  border: 1px solid black;
}

input {
    margin: .4rem;
}

#post-header {
    margin-left: 10px;
}

#post-logo {
    position: fixed;
    text-decoration: none;
    right: 15px;
    top: 10px;
}

#post-logo h3 {
    background: #DCD6F7;
    padding: 0em .3em 0em .15em;
}

.see-more {
    background: #DCD6F7;
    padding: 0em .3em 0em .15em;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 6;
}

#related-block {
    display: flex;
    flex-wrap: wrap;
}

.related-item {
    height: 305px;
    /*width: 250px;*/
    margin: 10px;
    background-color: #424874;
}

.related-item img, video {
    max-height: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.related-item:hover {
	opacity: 0.5;
}
