body {
  background-color: #DCD6F7;
  color: #424874;
  font-family: "Ranga", serif;
}

a {
  color: #424874;
}

nav {
  margin: 15px;
  width: 220px;
  position: fixed;
  z-index: 5;
  top: 0;
  overflow-x: hidden;
}

#nav-inner {
  width: min-content;
}

nav a {
  text-decoration: none;
}

nav h1 {
  font-weight: bold;
  font-size: 96px;
  margin: 0px;
}

nav ul {
  list-style-type: none;
}

nav li {
  font-size: 36px;
}

#footer li {
  font-size: 20px;
}

#footer img {
  width: 30px;
}

#wrapper {
  /*
  padding-left: 0px;
     */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
}
@media (min-width: 1800px) {
  #wrapper {
    height: 2100px;
  }
}
@media (min-width: 1200px) and (max-width: 1800px) {
  #wrapper {
    height: 2700px;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  #wrapper {
    height: 2800px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  #wrapper {
    height: 3800px;
  }
}

#wrapper div img, video {
  display: block;
  object-fit: cover;
  width: 100%;
}

.posts-col {
  float: left;
}
@media (min-width: 1800px) {
  .posts-col {
    margin-left: 15px;
    width: 19%;
  }
}
@media (min-width: 1200px) and (max-width: 1800px) {
  .posts-col {
    margin-left: 15px;
    width: 23%;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .posts-col {
    margin-left: 10px;
    width: 31%;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .posts-col {
    margin-left: 10px;
    width: 48%;
  }
}
@media (max-width: 599px) {
  .posts-col {
    width: 98%;
  }
}

@media (min-width: 1800px) {
  .item-no-js {
    width: 18%;
  }
}
@media (min-width: 1200px) and (max-width: 1800px) {
  .item-no-js {
    width: 23%;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .item-no-js {
    width: 30%;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .item-no-js {
    width: 48%;
  }
}
@media (max-width: 599px) {
  .item-no-js {
    width: 98%;
  }
}

.item {
  text-align: center;
  position: relative;
}
@media (min-width: 1800px) {
  .item {
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) and (max-width: 1800px) {
  .item {
    margin-bottom: 15px;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .item {
    margin-bottom: 13px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .item {
    margin-bottom: 13px;
  }
}
@media (max-width: 599px) {
  .item {
    margin-bottom: 13px;
  }
}

#content {
  font-size: 30px;
  max-width: 100vw;
}
@media (min-width: 1800px) {
  #content {
    margin-left: 230px;
  }
}
@media (min-width: 1200px) and (max-width: 1800px) {
  #content {
    margin-left: 230px;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  #content {
    margin-left: 230px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  #content {
    margin-left: 230px;
  }
}

.linkouter:hover .hero {
  opacity: 0.5;
}

#tags ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  grid-gap: 20px;
  list-style: none;
}

#tags li {
  font-size: xx-large;
  list-style: none;
}

table, th, td {
  border: 1px solid black;
}

input {
  margin: 0.4rem;
}

#post-header {
  margin-left: 10px;
}

#post-logo {
  position: fixed;
  text-decoration: none;
  right: 15px;
  top: 10px;
}

#post-logo h3 {
  background: #DCD6F7;
  padding: 0em 0.3em 0em 0.15em;
}

.see-more {
  background: #DCD6F7;
  padding: 0em 0.3em 0em 0.15em;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 6;
}

/*# sourceMappingURL=style.css.map */
