{% extends "layout.html" %}

{% block content %}

<h2>{{ post.title }}</h2>
<p>{{ post.description }}</p>
<form method="POST" action="/admin/p/{{ post.uuid.int }}" enctype="multipart/form-data">
<div id="wrapper">
	{% for media in medias %}
    <div id='post-{{ loop.index0 }}' class="{{ 'class=landscape' if media.landscape == 1 else '' }} item">
        <input type="radio" id="hero_{{ media.id }}" name="rhero" value="{{ media.id }}" {{ 'checked' if post.hero_id == media.id else '' }} />
		{% if media.type == 0 %}
		<img src="{{ url_for('static', filename=media.url) }}" />
		{% elif media.type == 1 %}
		<video autoplay="1" muted="1" preload="auto" loop="1"><source src="{{ url_for('static', filename=media.url) }}" type="video/mp4"></video>
		{% elif media.type == 2 %}
		<video controls="1" autoplay="0" preload="auto" loop="0"><source src="{{ url_for('static', filename=media.url) }}#t=0.2" type="video/mp4"></video>
		{% elif media.type == 3 %}
		<video controls="1" autoplay="0" loop="0" preload="auto"><source src="{{ media.url }}#t=0.2" type="video/mp4"></video>
		{% endif %}
	</div>
	{% else %}
	<h2>Nothing here :(</h2>
	{% endfor %}
</div>

<script type='text/javascript' src='{{ url_for('static', filename='js/waterfall.js') }}' charset='utf-8'></script>

<div id="post">
	{% if ref %}
		<h3>Brought to you by {{ ref.site }}!</h3>
		<p>{{ ref.description }}</p>
		<a class="ref_title" href={{ ref.url }}>Visit {{ ref.site }} for more!</a><br />
	{% endif %}
	{% for tag in tags %}
        <div class="tag_box">
            <input type="checkbox" id="tag_{{ tag.id }}" name="ctag_{{ tag.id }}" {{ 'checked' if tag in post_tags else '' }} />
            <label for="{{ tag.id }}">{{ tag.name }}</label>
        </div>
	{% else %}
	<h3>no tags :(</h3>
	{% endfor %}
	<br />
    <button type="submit" class="btn btn-primary">Submit changes</button>
</div>
</form>
{% endblock %}
