{% extends "layout.html" %}

{% block content %}
<h2>Add Post</h2>
<form method="POST" action="/admin/post" enctype="multipart/form-data">
	{{ form.csrf_token }}
	{% if form.errors %}
		{{ form.errors }}
	{% endif %}
	<br />
	{{ form.title.label }}: {{ form.title() }}
	{{ form.description.label }}: {{ form.description() }}
   	{{ form.urls.label }}: {{ form.urls() }}
	{{ form.files.label }}: {{ form.files() }}
	{{ form.notes.label }}: {{ form.notes() }}
	<input type=submit value=Submit>
</form>

<form method="POST" action="/admin/edit" enctype="multipart/form-data">
     <table>
         <tr>
             <th>id</th>
             <th>title</th>
             <th>edit</th>
	     <th>notes</th>
         </tr>
         {% for post in posts.items %}
         <tr>
             <td>
                 {{ post.id }}<br />
                 <img style="width: 200px" src="{{ url_for('static', filename=heros[post.id].url) }}" />
             </td>
             <td><a href="{{ url_for('admin.posts', id=post.uuid) }}">{{ post.title }}</a></td>
             <td>
                 <p>Show Post:</p>

                 <input type="radio" id="show_{{ post.id }}" name="rshow_{{ post.id }}" value="1" {{ 'checked' if post.show_post == 1 else '' }} >
                 <label for="show_{{ post.id }}">show</label>

                 <input type="radio" id="noshow_{{ post.id }}" name="rshow_{{ post.id }}" value="0" {{ 'checked' if post.show_post == 0 else '' }} >
                 <label for="noshow_{{ post.id }}">noshow</label>

                 <p>Delete Post:</p>
                 <input type="checkbox" id="delete_{{ post.id }}" name="delete_{{ post.id }}" >
             </td>
	     <td>{{ post.notes }}</td>
         </tr>
         {% endfor %}
     </table>
     <button type="submit" class="btn btn-primary">Submit changes</button>
 </form>
<div class=pagination>
{% if posts.has_prev %}
<a href="{{ url_for(request.endpoint, page=posts.prev_num) }}">Prev</a>
{% endif %}

{%- for page in posts.iter_pages() %}
	{% if page %}
		{% if page != posts.page %}
			<a href="{{ url_for(request.endpoint, page=page) }}">{{ page }}</a>
		{% else %}
			<strong>{{ page }}</strong>
	{% endif %}
	{% else %}
		<span class=ellipsis>…</span>
	{% endif %}
{%- endfor %}

{% if posts.has_next %}
<a href="{{ url_for(request.endpoint, page=posts.next_num) }}">Next</a>
{% endif %}
</div>
{% endblock %}
