<!doctype html>
	<head>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ranga">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="shortcut icon" type="image/x-icon" herf="{{ url_for('static', filename='favicon.ico') }}" />

        <title>{{ title }} | UwwU</title>

        <meta name="description" content="Cute girls, nothing less.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

		<!-- Matomo -->
		<script type="text/javascript">
		  var _paq = window._paq = window._paq || [];
		  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		  _paq.push(['trackPageView']);
		  _paq.push(['enableLinkTracking']);
		  (function() {
		    var u="https://uwwu2.matomo.cloud/";
		    _paq.push(['setTrackerUrl', u+'matomo.php']);
		    _paq.push(['setSiteId', '1']);
		    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		    g.type='text/javascript'; g.async=true; g.src='//cdn.matomo.cloud/uwwu2.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
		  })();
		</script>
		<noscript><p><img src="https://uwwu2.matomo.cloud/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
		<!-- End Matomo Code -->
	</head>
	<body>
		 <div id="container">
			 <nav>
                 <a href="/"><h1>UwwU</h1></a>
                 <div id="nav-inner">
                     <ul>    
                         <li><a href="/">latest</a></li>
                         <li><a href="{{ url_for('top') }}">top</a></li>
                         <li><a href="{{ url_for('gifs') }}">gifs</a></li>
                         <li><a href="{{ url_for('pics') }}">pics</a></li>
                         <li><a href="{{ url_for('vids') }}">vids</a></li>
                         <li><a href="{{ url_for('tags') }}">tags</a></li>
                    </ul>
                    <div id="footer">
                        <ul>
                        <li>
                        <script type="text/javascript" language="javascript">
                            <!--
                            // Email obfuscator script 2.1 by Tim Williams, University of Arizona
                            // Random encryption key feature coded by Andrew Moulden
                            // This code is freeware provided these four comment lines remain intact
                            // A wizard to generate this code is at http://www.jottings.com/obfuscator/
                            { coded = "BT5h7c2Tf@oBBo.5T"
                              key = "lVirCA6t5yxqop0E3jOnfmgJ2FeKUa9GMsYHzDhkPQwTSZ7NIXcW8bRLvu1B4d"
                              shift=coded.length
                              link=""
                              for (i=0; i<coded.length; i++) {
                                if (key.indexOf(coded.charAt(i))==-1) {
                                  ltr = coded.charAt(i)
                                  link += (ltr)
                                }
                                else {
                                  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                                  link += (key.charAt(ltr))
                                }
                              }
                            document.write("<a href='mailto:"+link+"'>contact</a>")
                            }
                            //-->
                            </script><noscript>Sorry, you need Javascript on to email me.</noscript>
                        </li>
                        <li><a href="/credits">credits</a></li>
                        </ul>
                    </div>
                </div>

			 </nav>
			 <div id="content">{% block content %}{% endblock %}</div>
		 </div>
	</body>
</html>
			
