{% extends "layout.html" %}

{% block content %}
<div id="wrapper">
	{% for media in medias.items %}
	<div id='post-{{ loop.index0 }}' class="{{ 'landscape ' if media.landscape == 1 else '' }}linkouter item item-no-js" >
		{% if posts is not none %}
            <h3 class="see-more" ><a href="{{ url_for('posts', id=posts[media].uuid.int) }}">See More</a></h3>
			<a href="{{ url_for('posts', id=posts[media].uuid.int) }}">
		{% endif %}

		{% if media.type == 0 %}
		<img class="hero" src="{{ url_for('static', filename=media.url) }}" />
		{% elif media.type == 1 %}
		<video class="hero" autoplay="1" muted="1"preload="auto" loop="1"><source src="{{ url_for('static', filename=media.url) }}" type="video/mp4"></video>
		{% elif media.type == 2 %}
		<video class="hero" controls="1" preload="auto" autoplay="0" loop="0"><source src="{{ url_for('static', filename=media.url) }}#t=0.2" type="video/mp4"></video>
		{% elif media.type == 3 %}
        <video class="hero" controls="1" preload="auto" autoplay="0" loop="0"><source src="{{ media.url }}#t=0.2" type="video/mp4"></video>
		{% endif %}

		{% if posts is not none %}
			</a>
		{% endif %}
	</div>
	{% else %}
	<h2>No posts! yet ;)</h2>
	{% endfor %}
</div>
<script type='text/javascript'>
    if(600 < window.innerWidth) {
        const see = document.querySelectorAll('.see-more');
        see.forEach(element => {
            element.style.display = 'none';
        });
    }
</script>

<script type='text/javascript' src='{{ url_for('static', filename='js/waterfall.js') }}' charset='utf-8'></script>

<div class=pagination>
{% if medias.has_prev %}
<a href="{{ url_for(request.endpoint, page=medias.prev_num, name=(name if name != '' else None)) }}">Prev</a>
{% endif %}

{%- for page in medias.iter_pages() %}
	{% if page %}
		{% if page != medias.page %}
			<a href="{{ url_for(request.endpoint, page=page, name=(name if name != '' else None)) }}">{{ page }}</a>
		{% else %}
			<strong>{{ page }}</strong>
	{% endif %}
	{% else %}
		<span class=ellipsis>…</span>
	{% endif %}
{%- endfor %}

{% if medias.has_next %}
<a href="{{ url_for(request.endpoint, page=medias.next_num, name=(name if name != '' else None)) }}">Next</a>
{% endif %}
</div>

{% endblock %}
