{% extends "layout.html" %}

{% block content %}
<div id="wrapper">
	{% for media in medias %}
	<div id='post-{{ loop.index0 }}' class="{{ 'landscape ' if media.landscape == 1 else '' }}linkouter item item-no-js" >
		{% if posts is not none %}
			<a href="{{ url_for('posts', id=posts[media].uuid.int) }}">
		{% endif %}

		{% if media.type == 0 %}
		<img class="hero" src="{{ url_for('static', filename=media.url) }}" />
		{% elif media.type == 1 %}
		<video class="hero" autoplay="1" muted="1"preload="auto" loop="1"><source src="{{ url_for('static', filename=media.url) }}" type="video/mp4"></video>
		{% elif media.type == 2 %}
		<video class="hero" controls="1" preload="auto" autoplay="0" loop="0"><source src="{{ url_for('static', filename=media.url) }}#t=0.2" type="video/mp4"></video>
		{% elif media.type == 3 %}
        <video class="hero" controls="1" preload="auto" autoplay="0" loop="0"><source src="{{ media.url }}#t=0.2" type="video/mp4"></video>
		{% endif %}

		{% if posts is not none %}
			</a>
		{% endif %}
	</div>
	{% else %}
	<h2>No posts! yet ;)</h2>
	{% endfor %}
</div>

<script type='text/javascript' src='{{ url_for('static', filename='js/waterfall.js') }}' charset='utf-8'></script>


{% endblock %}
