{% extends "layout.html" %}

{% block content %}
<a id="post-logo" href="/"><h3>UwwU</h3></a>
<script type='text/javascript'>
	if(600 > window.innerWidth) {
		document.querySelector('nav').style.display = 'none';
	} else {
		document.getElementById('post-logo').style.display = 'none';
	}
</script>

<div id="post-header">
	<h2>{{ post.title }}</h2>
	<p>{{ post.description }}</p>

	{% for tag in tags %}
	<a href="/t/{{ tag.name }}">#{{ tag.name }}</a>
	{% else %}
	<h3>no tags :(</h3>
	{% endfor %}
</div>

<div id="wrapper">
	{% for media in medias %}
    <div id='post-{{ loop.index0 }}' class="{{ 'class=landscape' if media.landscape == 1 else '' }} item">
		{% if media.type == 0 %}
		<a href="{{ ref.url }}">
		<img src="{{ url_for('static', filename=media.url) }}" />
		</a>
		{% elif media.type == 1 %}
		<video autoplay="1" controls="1" muted="1" preload="auto" loop="1"><source src="{{ url_for('static', filename=media.url) }}" type="video/mp4"></video>
		{% elif media.type == 2 %}
		<video controls="1" autoplay="0" preload="auto" loop="0"><source src="{{ url_for('static', filename=media.url) }}#t=0.2" type="video/mp4"></video>
		{% elif media.type == 3 %}
		<video controls="1" autoplay="0" loop="0" preload="auto"><source src="{{ media.url }}#t=0.2" type="video/mp4"></video>
		{% endif %}
	</div>
	{% else %}
	<h2>Nothing here :(</h2>
	{% endfor %}
</div>

<script type='text/javascript' src='{{ url_for('static', filename='js/waterfall.js') }}' charset='utf-8'></script>

<div id="post">
	{% if ref %}
		<h3>Brought to you by {{ ref.site }}!</h3>
		<p>{{ ref.description }}</p>
		<a class="ref_title" href={{ ref.url }}>Visit {{ ref.site }} for more!</a><br />
	{% endif %}
	<br />
</div>

<h3 style="margin: 10px;">Enjoy some more...</h3>
<div id="related-block">
    {% for r in related %}
    <div class="related-item">
        <a href="{{ url_for('posts', id=r['uuid']) }}">
		{% if r['type'] == 0 %}
		<img class="hero" src="{{ url_for('static', filename=r['hero_url']) }}" />
		{% elif r['type'] == 1 %}
		<video class="hero" autoplay="1" muted="1"preload="auto" loop="1"><source src="{{ url_for('static', filename=r['hero_url']) }}" type="video/mp4"></video>
		{% elif r['type'] == 2 %}
		<video class="hero" controls="1" preload="auto" autoplay="0" loop="0"><source src="{{ url_for('static', filename=r['hero_url']) }}#t=0.2" type="video/mp4"></video>
		{% elif r['type'] == 3 %}
        <video class="hero" controls="1" preload="auto" autoplay="0" loop="0"><source src="{{ r['hero_url'] }}#t=0.2" type="video/mp4"></video>
		{% endif %}
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
