{% extends "layout.html" %}

{% block content %}
<ul id="tags"> 
	{% for tag in tags %}
	<li><a href="/t/{{ tag.name }}">#{{ tag.name }}</a></li>
	{% else %}
	<h2>no tags found.</h2>
	{% endfor %}
</ul>
<script type='text/javascript'>
    if(600 > window.innerWidth){
        document.getElementById('tags').style.float = 'right';
    }
</script>
{% endblock %}
